<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	
<ui:define name="metadata">
    <f:metadata>
      <f:viewParam id="taskId" name="taskId" />
      <f:viewParam id="callbackUrl" name="callbackUrl" />
      <f:event type="preRenderView" listener="#{fox.taskForm.startTask(taskId, callbackUrl)}" />
    </f:metadata>
</ui:define>

	
	<ui:define name="form">
		<div class="control-group">
			<label class="control-label" for="result">Ergebnis der Kl&#228;rung</label>
		    <div class="controls">
				<h:selectOneMenu id="result" value="#{processVariables['clarified']}">
					<f:selectItem itemValue="yes" itemLabel="Erneut freizugeben"/>
					<f:selectItem itemValue="no" itemLabel="Rechnung verwerfen"/>
				</h:selectOneMenu>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="approver">Neuer Freigebender</label>
		    <div class="controls">
				<h:selectOneMenu id="approver" value="#{processVariables['approver']}">
					<f:selectItems value="#{taskListController.usersList}" var="v_user" 
					itemLabel="#{v_user.id}" itemValue="#{v_user.id}"></f:selectItems>
				</h:selectOneMenu><br/>
			</div>
		</div>
	</ui:define>

</ui:composition>
