<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">	
<ui:define name="content">

	<f:metadata>
		<f:viewParam name="taskId" />
		<f:event type="preRenderView" listener="#{businessProcess.startTask(taskId, true)}" />            
   	</f:metadata>
	
	<h2>#{task.name}</h2>
	
    <p>Enter additional data for customer: #{customer.firstName} #{customer.lastName}</p>
	<h:form>
		<table>
				<tr>
					<td style="font-weight: bold;">Address:</td>
					<td><h:inputText id="company" value="#{customer.address}" /></td>
					<td><h:message id="company_error" for="company" errorClass="invalid" /></td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Zipcode:</td>
					<td><h:inputText id="zip" value="#{customer.zipCode}" /></td>
					<td><h:message id="zip_error" for="zip" errorClass="invalid" /></td>
				</tr>
				<tr>
					<td style="font-weight: bold;">City:</td>
					<td><h:inputText id="city" value="#{customer.city}" /></td>
					<td><h:message id="city_error" for="city" errorClass="invalid" /></td>
				</tr>
				<tr>
				    <td />
					<td><h:commandButton value="done" type="submit" /></td>
				</tr>
		</table>
	</h:form>
</ui:define>
</ui:composition>
