<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">
		
<ui:define name="content">	
	<h2>Start Customer Registration</h2>
	<h:form>
		<table>
				<tr>
					<td style="font-weight: bold;">First name:</td>
					<td><h:inputText id="company" value="#{newCustomer.firstName}" /></td>
					<td><h:message id="company_error" for="company" errorClass="invalid" /></td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Last name:</td>
					<td><h:inputText id="email" value="#{newCustomer.lastName}" /></td>
					<td><h:message id="email_error" for="email" errorClass="invalid" /></td>
				</tr>
				<tr>
					<td><h:commandButton action="#{customerService.startCustomerRegistration()}" value="save" type="submit" /></td>
				</tr>
		</table>		
	</h:form>

</ui:define>
</ui:composition>
