<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">
<ui:define name="content">

	<h2>task list</h2>
	<h:form>
	    <h:dataTable value="#{taskList.list}" var="thisTask" id="list" cellspacing="0" rowClasses="odd, even" styleClass="datatable">
			<h:column><strong>	#{thisTask.name}		</strong></h:column>
			<h:column>			#{thisTask.createTime}	</h:column>
			<h:column>			#{thisTask.dueDate}		</h:column>			
			<h:column>			#{thisTask.assignee}	</h:column>			
			<h:column>	
				<h:outputLink value="../#{taskList.getFormKey(thisTask)}.jsf?taskId=#{thisTask.id}">do it</h:outputLink>
			</h:column>		
	    </h:dataTable>	
	</h:form>	
</ui:define>
</ui:composition>
